{%extends 'common.html' %}
{% block header %}
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }
    </style>
{% end %}
{%block content%}
    <div class="tpl-content-wrapper" style="margin-left: 0.7%">

        <div class="tpl-portlet-components">

            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 添加接口
                </div>
            </div>
<form>
    {% raw xsrf_form_html()%}
            <!--类型、名称-->
            <div class="form-inline" role="form">
                <div class="form-group">
                    <strong>类型/名称: </strong>
                  </div>
                  <div class="form-group">
                    <select data-am-selected="{btnWidth: '100%',btnSize: 'sm'}" id="select_value">
                         <option value="GET" selected>GET</option>
                         <option value="POST">POST</option>
                    </select>
                  </div>
                  <div class="form-group">
                     <input type="text" class="form-control"  placeholder="请输入接口名称" id="testname" size="50" maxlength="90">
                      <span style="color: red" id="tnerror"></span>
                  </div>
            </div>

            <!--URL地址-->
            <div class="form-group" style="width: 50%">
                  <label >URL地址:</label>
                  <input type="text" class="form-control" id="testurl"  placeholder="请输入URL地址">
                  <span style="color: red" id="urlerror"></span>
            </div>

             <!--Body参数名称-->
            <div class="form-group">
                <label >Body参数名称:</label><br/>
                <div class="form-inline">
                     <button type="button" class="btn btn-default"  id="addbody">批量添加Body参数</button>&nbsp;&nbsp;
                     <button type="button" class="btn btn-success" id="addraw">添加Raw参数</button>
                     <input type="hidden" id="raw_count"/>
                     <span style="color: red"></span>
                </div>
            </div>

            <!--Header参数名称-->
            <div class="form-group">
                    <label >Header参数名称:</label><br>
                     <button type="button" class="btn btn-default" id="addheader">添加Header参数</button>
                 </div>

            <!--发送、保存-->
            <div class="form-inline" >
                <button  type="button" id="test" class="btn btn-primary">测试接口</button>&nbsp;&nbsp;
                <button  type="button" id="save" class="btn btn-warning ">保存接口</button>
            </div>
</form>
            <h5>预期结果：</h5>
            <!--返回状态码-->
            <div class="form-group" style="margin-top: 10px">
                <span>Response status:</span><br/>
                <code style="font-size: large" id="recode">200</code>
            </div>

            <!--返回请求头-->
            <div class="form-group" style="width: 50%">
                <span>Response Header:</span>
                <pre  class="am-pre-scrollable " id="reheader">
                    content-language:zh-CN
                    content-type:text/html;charset=UTF-8
                    date:Thu, 25 Jan 2018 07:08:00 GMT
                    status:200
                    timing-allow-origin:*
                </pre>
            </div>

            <!--返回body-->
            <div class="form-group" style="width: 50%;">
                <span>Response Body:</span>
                <pre  class="am-pre-scrollable" id="result">
                        {
                        "error": 0,
                        "status": "success",
                        "date": "2018-01-01"
                    }
                </pre>
            </div>

        </div>
    </div>

</div>

<!--bodyparams警告窗口-->
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
  <div class="am-modal-dialog">
    <div class="am-modal-bd">
      请移除raw参数再重试！
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>

<!--bodyraw警告窗口-->
<div class="am-modal am-modal-alert" tabindex="-1" id="my-alert-raw">
  <div class="am-modal-dialog">
    <div class="am-modal-bd">
      请移除body参数再重试！
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>

<!--test加载窗口-->
<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">正在请求...</div>
    <div class="am-modal-bd">
      <span class="am-icon-spinner am-icon-spin"></span>
    </div>
  </div>
</div>

<script src="{{static_url('interface/add_interface.js')}}"></script>
{%end%}

