 <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href='{{static_url("index/css/amazeui.min.css")}}'  rel="stylesheet">
    <link href='{{static_url("index/css/admin.css")}}'  rel="stylesheet">
    <link href='{{static_url("index/css/app.css")}}'  rel="stylesheet">
    <link href='{{static_url("index/css/bootstrap.min.css")}}'  rel="stylesheet">
    <link rel="shortcut icon" href='{{static_url("favicon.ico")}}'>
    {% block header %} {% end %}

</head>
<body style="background-color: #f5f5f5" >
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo " style="padding-top: 20px">
            <img src='{{static_url("index/img/logo.png")}}' alt="" >
        </a>
    </div>
   <div class="am-collapse am-topbar-collapse am-topbar-right" id="topbar-collapse" style="padding-right: 10%">
        <ul class="am-nav am-nav-pills">
            <li class="am-dropdown" data-am-dropdown>
                <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;" style="color: black;font-size: large">
                    {{username}} <span class="am-icon-caret-down"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#" >个人中心</a></li>
                    <li><a href="/dropout">退出登录</a></li>
                  </ul>
            </li>
        </ul>
    </div>

</header>
<div class="tpl-page-container tpl-page-header-fixed " >
    <div class="tpl-left-nav tpl-left-nav-hover" >
        <div class="tpl-left-nav-title">
        </div>
        <div class="tpl-left-nav-list ">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link ">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-bar-chart"></i>
                        <span>项目</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-adn"></i>
                        <span>模块</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-spinner am-icon-pulse"></i>
                        <span>接口</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>测试用例</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-tasks"></i>
                        <span>定时任务</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-refresh am-icon-spin"></i>
                        <span>测试环境</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-file"></i>
                        <span>测试报告</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-user"></i>
                        <span>用户管理</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script src="{{static_url('common/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{static_url('common/js/jquery.cookie.js ')}}"></script>
    <script src='{{static_url("plugins/bootstrap3/js/bootstrap.js")}}'></script>
    <script src='{{static_url("index/js/amazeui.min.js")}}'></script>
    <script src='{{static_url("index/js/echarts.common.min.js")}}'></script>
{% block content%}
{% end %}

    {% block indexshooter%}
    {% end %}


</body>
</html>
