 <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link href='{{static_url("index/css/amazeui.min.css")}}'  rel="stylesheet">
    <link href='{{static_url("index/css/admin.css")}}'  rel="stylesheet">
    <link href='{{static_url("index/css/app.css")}}'  rel="stylesheet">
    <link href='{{static_url("index/css/bootstrap.min.css")}}'  rel="stylesheet">
    <link rel="shortcut icon" href='{{static_url("favicon.ico")}}'>

</head>
<body style="background-color: #f5f5f5" >
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo" style="padding-top: 20px">
            <img src='{{static_url("index/img/logo.png")}}' alt="" >
        </a>
    </div>
    </div>
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"></li>
            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="">
                    <span class="tpl-header-list-user-nick" >{{uname}}</span><span class="tpl-header-list-user-ico"></span>
                </a>
            </li>
        </ul>
    </div>
</header>
<div class="tpl-page-container tpl-page-header-fixed" >
    <div class="tpl-left-nav tpl-left-nav-hover" >
        <div class="tpl-left-nav-title">
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link ">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-bar-chart"></i>
                        <span>项目</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-internet-explorer"></i>
                        <span>测试环境</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-adn"></i>
                        <span>模块</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-internet-explorer"></i>
                        <span>接口</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-key"></i>
                        <span>测试用例</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-tasks"></i>
                        <span>定时任务</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list" target="_blank">
                        <i class="am-icon-server"></i>
                        <span>mock-server</span>
                    </a>
                </li>
                <li class="tpl-left-nav-item">
                    <a href="" class="nav-link tpl-left-nav-link-list">
                        <i class="am-icon-file"></i>
                        <span>测试报告</span>
                    </a>
                </li>
                    <li class="tpl-left-nav-item">
                        <a href="" class="nav-link tpl-left-nav-link-list">
                            <span class=" am-icon-user"></span>
                            <span>用户管理</span>
                        </a>
                    </li>
            </ul>
        </div>
    </div>
</div>

   <div class="tpl-content-wrapper" style="padding-left: 5%">
        <div class="row">
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">  </div>
                        <div class="desc"> 项目 </div>
                    </div>
                    <a class="more" href=""> 查看项目
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat red">
                    <div class="visual">
                        <i class="am-icon-bar-chart-o"></i>
                    </div>
                    <div class="details">
                        <div class="number">  </div>
                        <div class="desc"> 模块 </div>
                    </div>
                    <a class="more" href=""> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="am-icon-apple"></i>
                    </div>
                    <div class="details">
                        <div class="number"></div>
                        <div class="desc"> 接口 </div>
                    </div>
                    <a class="more" href=""> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="am-icon-android"></i>
                    </div>
                    <div class="details">
                        <div class="number">  </div>
                        <div class="desc"> 测试用例 </div>
                    </div>
                    <a class="more" href=""> 查看更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="am-u-lg-3 am-u-md-6 am-u-sm-12">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="am-icon-comments-o"></i>
                    </div>
                    <div class="details">
                        <div class="number"> </div>
                        <div class="desc"> 测试报告 </div>
                    </div>
                    <a class="more" href=""> 更多
                        <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
        </div>

    </div>
    <div class="row" style="padding-left: 30px">
        <h3 >根据这里的版本可以在<a href="">用例</a>或者<a href="">测试接口</a>模块导入相应的测试用例或者测试接口</h3>
        <a href="">接口模板</a>
        <a href="">测试用例模板</a>
    </div>

    <script src="{{static_url('common/js/jquery-3.2.1.min.js')}}"></script>
    <script src='{{static_url("plugins/bootstrap3/js/bootstrap.js")}}'></script>
    <script src='{{static_url("index/js/echarts.common.min.js")}}'></script>

</body>
</html>
