{% extends 'common.html' %}
{% block content %}
    <div class="tpl-content-wrapper" style="margin-left: 10px">
        <div class="tpl-content-page-title">
        </div>
        <div class="tpl-portlet-components">
            <div class="portlet-title">
                <div class="caption font-green bold">
                    <span class="am-icon-code"></span> 接口
                </div>
            </div>
            <form method="POST" action="">
                <strong  style="margin-right: 10px;margin-left: 10px">项目</strong><input type="text" name="project"  placeholder="请输入查询的项目">
                <span></span>
                <strong style="margin-right: 10px;margin-left: 10px">模块</strong> <input type="text" name="model"  placeholder="查询的模块">
                <span></span>
                <input type="submit" value="查询" class="am-btn-success">
            </form>
            <div style="margin-top: 10px">
                <a href="/add_interface"><input type="button" name="" value="添加" class="am-btn am-btn-default am-btn-success"> </a>
                <a href=""><input type="button" name=""  value="导入" class="am-btn am-btn-default am-btn-success"></a>
            </div>

            <table class="am-table am-table-hover table-main" style="width:100%">
  
                <thead>
                <tr>
                    <th>接口id</th>
                    <th>接口名称</th>
                    <th>接口地址</th>
                    <th>接口headers</th>
                    <th>接口请求方法</th>
                    <th>接口请求参数</th>
                    <th>接口返回参数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>inter.id</td>
                        <td>inter.Interface_name</td>
                        <td>inter.Interface_url</td>
                        <td style="width: 10%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">inter.Interface_headers</td>
                        <td>inter.Interface_meth</td>
                        <td style="width: 10%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">inter.Interface_par</td>
                        <td style="width: 10%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">inter.Interface_back</td>
                        <td><a href=""><input type="button" value="编辑" class="btn btn-primary"></a>
                            <a href=""><input type="button" value="删除" class="btn btn-danger"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div></div>
{% end %}