<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
	<link rel="shortcut icon" href='{{static_url("favicon.ico")}}'>
    <link rel="stylesheet" href='{{static_url("plugins/bootstrap3/css/bootstrap.css")}}'/>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="#">排行榜</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
			<li class="active"><a href="#">最热</a></li>
			<li><a href="#">个人</a></li>
				{% if flag %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{  username }}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/dropout">退出登录</a></li>
							<li><a href="/logout">注销账号</a></li>
						</ul>
					</li>
				{% else %}
				    <li><a  href="/login">登录</a></li><li><a href="/signup">注册</a></li>
				{% end %}

		</ul>
	</div>
	</div>
</nav>
<input type="button" value="发布" id="release">
<!--帖子-->
<div style="width: 30%">
	{% if item_list %}
		{% for new in item_list %}
			<ul class="list-group" style="background-color: #eeeeee">

				<p style="font-size: large;color: black">标题：{{ new.title}}</p>
				<p>用户：{{ new.user_id}}</p>
				<li class="list-group-item">内容：{{ new.content}}</li>
				<li><span>点击数：{{ new.click_cout}}</span>&nbsp; &nbsp; <span>关注度：{{ new.like_count}}</span></li>
				<span>发布时间：{{ new.adddate}}</span>
			</ul>
		{% end %}
	{% else %}
		<ul class="list-group" style="background-color: #eeeeee">
			<h5>默认标题</h5>
			<li class="list-group-item">暂无相关内容</li>
		</ul>
	{% end %}
</div>
<!--发帖模态框-->
<div class="modal fade" id="pub" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
	 <form >
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title">发布帖子</h4>
		  </div>
		  <div class="modal-body">
			  <div class="form-group">
				<label  class="control-label">标题:</label>
				<input type="text" class="form-control" name="title" id="title">
			  </div>
			  <div class="form-group">
				<label  class="control-label">内容:</label>
				<textarea class="form-control" name="content" id="content"></textarea>
			  </div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary" id="sb">点击发帖</button>
		  </div>
	 </form>
    </div>
  </div>
</div>

<script src='{{static_url("js/jquery-3.2.1.min.js")}}'></script>
<script src='{{static_url("plugins/bootstrap3/js/bootstrap.js")}}'></script>
<script src='{{static_url("js/jquery.cookie.js")}}'></script>
<script src='{{static_url("plugins/layer/layer.js")}}'></script>
<script src='{{static_url("js/index.js")}}'></script>
</body>
</html>