<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href='{{static_url("favicon.ico")}}'>
    <title>注册页</title>
</head>
<body>
<form>
    <p><span>用户名：</span><input type="text"  id="uname" placeholder="请输入用户名" /></p>
    <p><span>手机号码：</span><input type="text"  id="telno" placeholder="请输入11位的手机号码"  maxlength="11"/></p>
    <p><span>密码：</span><input type="password"  id="pwd" placeholder="请输入登录密码" /></p>
    <p><input type="button" id="sb" value="点击注册"/><a href="/login">登录</a></p>
    <span style="color: red" id="msg">{{status_text}}</span>
</form>
<script src='{{static_url("js/jquery-3.2.1.min.js")}}'></script>
<script src='{{static_url("plugins/layer/layer.js")}}'></script>
<script src='{{static_url("js/register.js")}}'></script>
</body>
</html>